.navbar {
  background-color: rgb(158, 34, 34);
  padding: 5px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  /* width: 100vw; */
  /* margin-right: 50px; */

}

.navbar img {
  width: 200px;
  height: auto;
  justify-self: flex-start;
  margin-left: 20px;
 }

